.favorites-toolbar {
  border-block: 1px solid var(--ion-color-light-tint);
  background: var(--ion-color-step-50);
}

.favorites-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--ion-color-dark);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
