.movie-content {
  margin-top: -8rem;
  position: relative;
  z-index: 1;
}

.movie-info-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media (min-width: 768px) {
  .movie-content {
    margin-top: -4rem;
  }
}
