.movie-header {
  position: absolute;
  top: 0;
  right: 0;
  padding: var(--ion-padding, 8px);
  width: 100%;
}
.movie-header .ion-grid {
  padding: 0;
  width: 100%;
}

.movie-header .ion-row {
  margin: 0;
}

.movie-header .ion-col {
  padding: 0;
}
