.movie-actions {
  position: absolute;
  top: 0;
  right: 0;
  padding: var(--ion-padding);
  width: 100%;
}
.movie-actions .ion-grid {
  padding: 0;
  width: 100%;
}

.movie-actions .ion-row {
  margin: 0;
}

.movie-actions .ion-col {
  padding: 0;
}
