.card-content {
  --ion-padding: 1rem;
  --movie-image-height: 75%;
  padding: var(--ion-padding);
  height: calc(100% - var(--movie-image-height));
}
@media (max-width: 768px) {
  .card-content {
    --ion-padding: 0.4rem;
  }
}

.card-title {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--ion-color-dark);

  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (max-width: 768px) {
  .card-title {
    font-size: 1rem;
  }
}

.card-subtitle {
  color: var(--ion-color-medium);
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0;
}
@media (max-width: 768px) {
  .card-subtitle {
    font-size: 0.75rem;
  }
}
