.card-content {
  padding-bottom: var(--ion-padding, 8px);
  height: 100%;
}

.card-title {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--ion-color-dark);

  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-subtitle {
  color: var(--ion-color-medium);
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0;
}
