:root {
  --movie-card-height: 24rem;
  --movie-card-border-radius: 0.5rem;
}
.movie-card {
  border-radius: var(--movie-card-border-radius, 0.5rem);
  overflow: hidden;
  height: var(--movie-card-height, 24rem);
  margin: 0;
  position: relative;
}
