.movie-card {
  --movie-card-height: 24rem;
  --movie-card-border-radius: 1rem;
  border-radius: var(--movie-card-border-radius);
  overflow: hidden;
  height: var(--movie-card-height);
  margin: 0;
  position: relative;
}

@media (max-width: 768px) {
  .movie-card {
    --movie-card-height: 18rem;
  }
}
.movie-card-wrapper {
  position: relative;
  height: var(--movie-card-height);
}
