.virtuoso-grid {
  scroll-behavior: smooth;
}

.virtuoso-grid .movie-grid-col {
  --ion-padding: 1rem;
  /* height: ; */
  padding: var(--ion-padding);
  min-height: calc(var(--movie-card-height) + (var(--ion-padding) * 2));
}

@media (max-width: 768px) {
  .virtuoso-grid .movie-grid-col {
    --ion-padding: 0.4rem;
  }
}

@supports (padding: max(0px)) {
  .virtuoso-grid {
    padding-left: max(0px, env(safe-area-inset-left));
    padding-right: max(0px, env(safe-area-inset-right));
  }
}

@media (prefers-color-scheme: dark) {
  .virtuoso-grid {
    background-color: var(--ion-background-color, transparent);
  }
}
