.movie-backdrop {
  height: 200px;
  background-size: cover;
  background-position: top;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.backdrop-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(var(--ion-background-color-rgb), 1) 100%);
}

@media (min-width: 768px) {
  .movie-backdrop {
    height: 300px;
  }
}
