.movie-image-wrapper {
  --movie-image-height: 75%;
  width: 100%;
  overflow: hidden;
  height: var(--movie-image-height);
  position: relative;
}

.movie-image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: filter 0.3s ease-in, opacity 0.3s ease-in;
}

.movie-image.placeholder {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.movie-image.loading {
  filter: blur(0.25rem);
  opacity: 0;
  height: 100%;
}
