.search-container {
  position: relative;
  --min-height: 3.5rem;
  --padding-top: 0.25rem;
  --padding-bottom: 0.25rem;
}

.search-bar {
  width: 100%;
  text-align: center;
  padding-bottom: 0.25rem;
}

@media (min-width: 768px) {
  html.plt-desktop .search-container {
    position: absolute;
    top: var(--ion-safe-area-top);
    max-width: 32rem;
    margin: 0 auto;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
