name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pull-requests: write

    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: 'pnpm'

      - run: pnpm install --frozen-lockfile

      - run: pnpm test --coverage.enabled=true
        env:
          VITE_TMDB_API_V3_KEY: 'mock_api_key'
          VITE_TMDB_BASE_URL: 'https://api.themoviedb.org/3'
          VITE_TMDB_IMG_BASE: 'https://image.tmdb.org/t/p'

      - uses: davelosert/vitest-coverage-report-action@v2
        if: always()
